<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/5aa13db8a8.js" crossorigin="anonymous"></script>
    <title>Get To Know Me</title>
</head>
<body>
    <div class="container">
        <nav class="nav">
            <div class="div2">
                <h3><span>K</span>oustav Sarkar</h3>
            </div>
            <div class="div1">
                <ul>
                    <li>
                        <a href="../Index.html">Home</a>
                    </li>
                    <li>
                        <a href="About.html">About</a>
                    </li>
                    <li>
                        <a href="Koustav Sarkar_resume.pdf">Resume</a>
                    </li>
                    <li>
                        <a href="Contact.html">Contact Me</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="about">
        <table id="education">
            <tr>
                <td><i class="fa-solid fa-building-columns"></i>Class X (2017-2018)</td>
                <td>From Ram Moahn Mission High School(ICSE), Kolkata. Passed with 85.8%. </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-building-columns"></i>Class XII (2019-2020)</td>
                <td>From Delhi Public School(CBSE), Kolkata. Passed with 80.6%. </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-building-columns"></i>College (2020-2023)</td>
                <td>From University of Petroleum & Energy Studies, Dehradun. Degree in Bachelors of Computer Application. Semester IV. CGPA 8.0/10.</td>
            </tr>
            <tr>
                <td><i class="fa-brands fa-js"></i>Skills</td>
                <td>JAVA SE 17, JAVA 2EE, Operating Systems, Linux, Html 5 ,Css 3, JavaScrript, Mern Stack Development, Working in RDBMS, NoSQL Database(MongoDB).  </td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-certificate"></i>Certficates</td>
                <td><a href="https://drive.google.com/drive/folders/1sUGnQDZoMNOdqbsJ3DvZ-o5cpphTG267?usp=sharing">Click here to view my Certficates.</a></td>
            </tr>
        </table>
    </div>
</body>
</html>