<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/5aa13db8a8.js" crossorigin="anonymous"></script>
    <title>Contact Me</title>
</head>
<body>
    <div class="container">
        <nav class="nav">
            <div class="div2">
                <h3><span>K</span>oustav Sarkar</h3>
            </div>
            <div class="div1">
                <ul>
                    <li>
                        <a href="../Index.html">Home</a>
                    </li>
                    <li>
                        <a href="About.html">About</a>
                    </li>
                    <li>
                        <a href="Koustav Sarkar_resume.pdf">Resume</a>
                    </li>
                    <li>
                        <a href="Contact.html">Contact Me</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="contact">
        <table class="info">
            <tr>
                <td><i class="fa-solid fa-phone-volume"></i>Contact Number</td>
                <td>+91 62906 85856 / +91 90516 27506</td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-envelope"></i>Email ID</td>
                <td>ksarkarupes2001@gmail.com / Liveon664@gmail.com</td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-hashtag"></i>Socials</td>
                <td><a href="https://www.linkedin.com/in/koustav-sarkar-44965b228/"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                    <br/>
                    <a href="https://www.instagram.com/_sarak.chhap_/"><i class="fa-brands fa-instagram-square"></i>Instagram</a>
                    <br/>
                    <a href="https://github.com/Ksarkarupes"><i class="fa-brands fa-github-square"></i>GitHub</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>